## Exercise

**Make a copy of this note book and answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.**

# Q1
** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

# Q 2
** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = 'hi there Sam!'
z = s.split()
print(z)

['hi', 'there', 'Sam!']

In [ ]:
z[2] = 'dad!'
print(z)

['hi', 'there', 'dad!']

# Q3
** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print('The diameter of {} is {} kilometers'.format('Earth', 12742))

The diameter of Earth is 12742 kilometers

# Q4
** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

# Q5
** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [27]:
x = d.get('target')

# Q6
** What is the main difference between a tuple and a list? **

In [ ]:
Tuples are immutalbe and lists are mutable

# Q7
** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [22]:
domainGet('user@domain.com')

'domain.com'

In [ ]:
domainGet('user@domain.com')

'domain.com'

# Q8
** Create a basic function that returns True if the word 'dog' is contained in the input string**.

In [23]:
def findDog(sentence):
    if 'dog' in sentence.lower():
        print("True")
    else:
        print("False")

sentence = "Is there a dog here?"
findDog(sentence)

True

In [ ]:
findDog('Is there a dog here?')

True

# Q9
** Create a function that counts the number of times the word "dog" occurs in a string **

In [26]:
number = 'This dog runs faster than the other dog dude!'

def countdogs(number):
    count = 0
    for word in number.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(number)

1
2

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

# Q10
** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

['soup', 'salad']

# Good Luck!